* {
  box-sizing: border-box;
}

a,
a:visited {
  color: #358fbb;
  text-decoration: none;
}

html {
  background: #f6f6f9;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  overflow-y: scroll;
}
p {
  overflow-wrap: break-word;
}

h1 {
  font-size: 26px;
  font-weight: 400;
}
h2 {
  font-size: 22px;
}
h3 {
  font-size: 30px;
}
h4 {
  font-weight: 400;
  margin: 2px 0px;
  font-size: 22px;
}

.indent {
  padding-left: 20px;
}

.content {
  margin: auto;
  margin-top: 16px;
  margin-bottom: 32px;
  max-width: 880px;
  background: #fff;
  padding: 0px 40px 0px;
  border: 1px solid #e6e6e5;
  box-shadow: 0px 3px 9px #d4dce4;
  border-radius: 6px;
}

.intro {
  margin-top: 24px;
}

.portrait {
  float: right;
}
.portrait > img {
  border-radius: 50%;
  width: 130px;
}

.skills > div > span:first-child {
  display: inline-block;
  width: 90px;
}

.experience > div > span:first-child {
  display: inline-block;
  width: 160px;
}

.works > section + section {
  padding-top: 26px;
}

@media screen and (max-width: 480px) {
  .content {
    padding: 0 16px;
  }
}
